html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 97%;
}
.site-equipments-content{
    margin: 15px;
    padding: 0;
    width: 98%;
    height: 100%;
}
.site-equipments-table{
     width: 100%;
     height: 100%;
 }
.site-equipments-table .layui-field-box{
     width: 100%;
     height: 100%;
 }
.site-equipments-table .layui-form{
     width: 98%;
     height: 100%;
 }

.site-equipments-detailstitle {
    font-weight:bold;
}

.site-equipments-formright{
    float: right;
}



/**datatable样式**/
.dataTables_wrapper .dataTables_filter {
    float: right;
    margin-right: 2%;
}
.dataTables_wrapper .dataTables_paginate {
    float: right;
    margin-right: 2%;
}
.table-box {
    width: 98%!important;
}

