<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aoto.business.inventoryms.supplyedlist.repository.dao.ISupplyedListIbaitsDao">  
	<select id="querySupplyedListsByEid" resultType="com.aoto.business.inventoryms.supplyedlist.repository.pojo.SupplyedList" parameterType="int">
	 	select *  from mms_supplyedlist where eid=#{eid}
	</select>
	<select id="querySupplyedListsByWid" resultType="com.aoto.business.inventoryms.supplyedlist.repository.pojo.SupplyedList" parameterType="int">
	 	select *  from mms_supplyedlist where wid=#{wid}
	</select>
	<select id="querySupplyedListsBySid" resultType="com.aoto.business.inventoryms.supplyedlist.repository.pojo.SupplyedList" parameterType="int">
	 	select *  from mms_supplyedlist where sid=#{sid}
	</select>
</mapper>