<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aoto.business.inventoryms.storagelist.repository.dao.IStorageListIbaitsDao">  
	<select id="queryStorageListsByEid" resultType="com.aoto.business.inventoryms.storagelist.repository.pojo.StorageList" parameterType="int">
	 	select *  from mms_storagelist where eid=#{eid}
	</select>
	<select id="queryStorageListsByWid" resultType="com.aoto.business.inventoryms.storagelist.repository.pojo.StorageList" parameterType="int">
	 	select *  from mms_storagelist where wid=#{wid}
	</select>
	<select id="queryStorageListsBySid" resultType="com.aoto.business.inventoryms.storagelist.repository.pojo.StorageList" parameterType="int">
	 	select *  from mms_storagelist where sid=#{sid}
	</select>
</mapper>